.gsd-keyboard.settings-ported
.mozilla/
BraveSoftware/
Code/
Kvantum/
QtProject.conf
Trolltech.conf
baloofileinformationrc
bluedevilglobalrc
burn-my-windows/
cava/
chrome-flags.conf
code-flags.conf
darklyrc
dconf/
dolphinrc
evolution/
fontconfig/
foot/
fuzzel/
gh/
gnome-builder/
gnome-initial-setup-done
gnome-shell-toolbox-tools.conf
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
ibus/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kconf_updaterc
kde-material-you-colors/
kded5rc
kded6rc
kdedefaults/
kdeglobals
kdialogrc
kglobalshortcutsrc
kiorc
knfsshare
konsolerc
ktimezonedrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
libreoffice/
matugen/
menus/
mimeapps.list
mov-cli/
mpv/
org.gnome.Ptyxis/
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmashellrc
powermanagementprofilesrc
pulse/
qalculate/
session/
systemd/
systemmonitorrc
thorium-flags.conf
toolbox/
trashrc
user-dirs.dirs
user-dirs.locale
vlc/
vlcrc
wlogout/
xdg-desktop-portal/
zshrc.d/